name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet: [ '2.2.103', '3.0.100-preview8-013656', '4.5.1' ]
        
    steps:
    - uses: actions/checkout@v1
    - name: Install .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - name: Build
      run: dotnet build --configuration Release
    - name: Test
      run: dotnet test --no-build
